# Location for the zipped files
zip: /my/path/to/zip/folder
new_IDs: /my/path/to/ids.csv

# This dictionary has a dictionary of tags whose value should be modified
modifications:
# Required by NACC: StudyDate, Manufacturer, SeriesDescription, ManufacturersModelName, PatientID, StudyInstanceUID, SeriesInstanceUID, InstanceNumber
  SpecificCharacterSet: ''
  ImageType: ''
  SOPClassUID: ''
  SOPInstanceUID: ''
  # StudyDate: ''
  SeriesDate: ''
  AcquisitionDate: ''
  ContentDate: ''
  StudyTime: ''
  SeriesTime: ''
  AcquisitionTime: ''
  ContentTime: ''
  AccessionNumber: ''
  Modality: ''
  # Manufacturer: ''
  InstitutionName: ''
  InstitutionAddress: ''
  ReferringPhysiciansName: ''
  StationName: ''
  StudyDescription: ''
  ProcedureCodeSequence: ''
  # SeriesDescription: ''
  OperatorsName: ''
  # ManufacturersModelName: ''
  ReferencedImageSequence: ''
  SourceImageSequence: ''
  PatientsName: ''
  # PatientID: ''
  IssuerofPatientID: ''
  PatientsBirthDate: ''
  PatientsSex: ''
  PatientsAge: ''
  PatientsWeight: ''
  BodyPartExamined: ''
  SliceThickness: ''
  KVP: ''
  DataCollectionDiameter: ''
  DeviceSerialNumber: ''
  SoftwareVersions: ''
  ProtocolName: ''
  ReconstructionDiameter: ''
  TableHeight: ''
  RotationDirection: ''
  ExposureTime: ''
  Exposure: ''
  FilterType: ''
  GeneratorPower: ''
  FocalSpots: ''
  ConvolutionKernel: ''
  PatientPosition: ''
  ExposureModulationType: ''
  # StudyInstanceUID: ''
  # SeriesInstanceUID: ''
  StudyID: ''
  SeriesNumber: ''
  AcquisitionNumber: ''
  # InstanceNumber: ''
  ImagePositionPatient: ''
  ImageOrientationPatient: ''

  AcquisitionMatrix: ''
  AngioFlag: ''
  CardiacNumberOfImages: ''
  EchoNumbers: ''
  EchoTime: ''
  EchoTrainLength: ''
  EthnicGroup: ''
  FlipAngle: ''
  HeartRate: ''
  ImagedNucleus: ''
  ImagesInAcquisition: ''
  ImagingFrequency: ''
  InPlanePhaseEncodingDirection: ''
  MRAcquisitionType: ''
  NumberOfAverages: ''
  PercentPhaseFieldOfView: ''
  PercentSampling: ''
  PerformedProcedureStepDescription: ''
  PerformedProcedureStepID: ''
  PixelBandwidth: ''
  ReceiveCoilName: ''
  RepetitionTime: ''
  RequestingService: ''
  SAR: ''
  ScanOptions: ''
  ScanningSequence: ''
  SequenceVariant: ''
  SpacingBetweenSlices: ''
  StackID: ''
  TriggerWindow: ''
  VariableFlipAngleFlag: ''

  InstanceCreatorUID: ''
  ReferringPhysicianName: ''
  ReferringPhysicianAddress: ''
  ReferringPhysicianTelephoneNumbers: ''
  RequestingPhysician: ''
  InstitutionalDepartmentName: ''
  PhysiciansOfRecord: ''
  PerformingPhysicianName: ''
  NameOfPhysicianReadingStudy: ''
  AdmittingDiagnosesDescription: ''
  ReferencedSOPInstanceUID: ''
  DerivationDescription: ''
  PatientName: Anonymous
  PatientBirthDate: "19010101"
  PatientBirthTime: ''
  PatientSex: ''
  OtherPatientIDs: ''
  OtherPatientNames: ''
  PatientAge: ''
  PatientSize: ''
  PatientWeight: ''
  MedicalRecordLocator: ''
  Occupation: ''
  AdditionalPatientHistory: ''
  PatientComments: ''
  # MagneticFieldStrength: ''
  SynchronizationonFrameOfReferenceUID: ''
  UID: ''
  StorageMediaFileSetUID: ''
  ReferencedFrameOfReferenceUID: ''
  RelatedFrameOfReferenceUID: ''
  RescaleType: Null

# Optional: Use the dictionaries below to go through multiple ISOs

# This is the filepath for the input and output. Put the actual files in the IO_pairs dictionary.
in_data_root: my/root/input/path
out_data_root: my/root/output/path

io_pairs:
  - input: example.iso
    output: output_folder1
  - input: example/directory
    output: output_folder2
